
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin:0%;
    box-sizing: border-box;
    padding: 0%;
}
.font-almendra{
font-family: Almendra;
}

ul{
    font-size:18px;
    list-style: none;
    padding: 12px 8px;
    user-select: none;
    cursor: pointer;
}
ul li{
    padding: 10px 40px; 
    position: relative;
    color:#7E22CE;
    font-weight: 500;
    background:linear-gradient(to bottom right,#f3bfd6,#e8a7fc);
    border-radius: 150px;
    margin-bottom: 20px;
    box-shadow:1px 1px 15px 3px #7E22CE;
}
ul li::before{
    content: "";
    position: absolute;
    height: 21px;
    width: 21px;
    border: none;
    background-image: url('../images/icons8-circle-100.png');
    top:12px;
    left: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.checked{

    color:#fb54a4;
    text-decoration:line-through;
    box-shadow:1px 1px 15px 1px #da488f;
}
.checked::before{
    background-image: url('../images/solidarity_1593173.png');
}
ul li span{
    content: '';
    position: absolute;
    top:10px;
    right: 15px;
    height: 26px;
    width: 26px;
    background-image: url('../images/trash_1319033.png');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    
}
ul li span:hover{
    transform: scale(1.5);
    transition: all 0.3s ease-in;
}
